#nprogress {
  pointer-events: none;
  position: relative;
  z-index: 9999999;
}

#nprogress .bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--nprogress-color);
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
  box-shadow: 0 0 10px var(--nprogress-color), 0 0 5px var(--nprogress-color);
}

#nprogress .spinner {
  display: block;
  position: fixed;
  top: 1em;
  right: 1em;
}

#nprogress .spinner-icon {
  width: 1.5em;
  height: 1.5em;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-radius: 50%;
  animation: nprogress-spinner 500ms linear infinite;
  border-top-color: var(--nprogress-color);
  border-left-color: var(--nprogress-color);
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
