@font-face {
  font-family: "Genshin";
  src: URL("../assets/fonts/Genshin.woff") format("truetype");
}

/* https://github.com/Leaflet/Leaflet/issues/3575#issuecomment-688644225 */
.leaflet-tile-container img {
  width: 256.5px !important;
  height: 256.5px !important;
}

.leaflet-container {
  background: none !important;
}

.leaflet-container .leaflet-pane {
  z-index: 1;
}

.task-map .leaflet-marker-pane .leaflet-marker-icon.task-marker-icon {
  background: white;
  padding: 0.25rem;
  border-radius: 9999px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  object-fit: contain;
}

.task-map .leaflet-marker-pane .leaflet-marker-icon.region-label-icon {
  width: auto !important;
}

.task-map .leaflet-popup {
  font-family: Inter;
}

.task-map .leaflet-popup-content-wrapper {
  border: unset;
  border-radius: unset;
  background: unset;
  box-shadow: unset;
}

.task-map .leaflet-popup-content {
  margin: 0;
  min-width: 20rem;
}

.task-map .leaflet-popup-tip-container {
  margin-top: -2px;
}
